
<div class="row">
  <div class="col-md-6">
    <% if (code.imageUrl) { %>
      <img src="<%= code.imageUrl %>" class="img-fluid rounded border" />
    <% } %>
  </div>
  <div class="col-md-6">
    <h2><%= code.title %></h2>
    <p class="text-muted">Giá: <strong><%= money(code.priceVND) %> ₫</strong></p>
    <p><%= code.description || '' %></p>
    <a class="btn btn-primary" href="/order/new/<%= code._id %>">Mua ngay</a>
  </div>
</div>
